

<!-- First Button -->
<div *ngIf="isClicked === false" class="card">
  <button class="custom-btn" (click)="changeButton()">AISHA LOVES AMAR</button>
</div>

<!-- Second Button -->
<div *ngIf="isClicked === true" class="card">
  <button class="custom-btn" (click)="changeButton()">AMAR LOVES AISHA</button>
</div>


<!-- Balloons and Ribbons Animation Container -->
<div *ngIf="isClicked" class="animation-container">
  <div class="balloon balloon1"></div>
  <div class="balloon balloon2"></div>
  <div class="ribbon ribbon1"></div>
  <div class="ribbon ribbon2"></div>
</div>



<router-outlet></router-outlet>
